@page "/"

<h1>Hello, world!</h1>

This is a simple Blazor project that runs with Azure.
<p><br /></p>
It includes a tool that can calculate the total pay in a week, given the hours worked and the pay rate.

<SurveyPrompt Title="How is Blazor working for you?" />
